* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 1em;
    font-family: 'Roboto Condensed';
    background: url(./imagens/background.png) center center rgb(0, 8, 8);
    color: white;
}

/* Estilo Cabeçalho */

#cabecalho { 
    height: 8vh;
    border-bottom: 2px solid rgb(0, 48, 48);
    background: linear-gradient( to bottom, rgb(15, 15, 15), rgb(0, 39, 39));
    text-align: center;
    align-content: center;
}

#cabecalho img {
    height: 30px;
    opacity: 80%;
}

/* Estilo Section Sobre */

.sobre {
    height: 80vh;
    padding: 60px 0;
    background: url(./imagens/background2.jpg) center center;
    align-content: center;
}

.cont-sobre {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont-sobre div {
    padding: 30px 0;
}

.nome h1{
    font-size: 40px;
}

.msg {
    max-width: 500px;
    text-align: justify;
    margin-left: 50px;
}

@media screen and (max-width: 947px) {
    .cont-sobre {
        flex-direction: column;
        align-items: center;
    }

    .msg {
        margin-left: 0;
    }
}

.cor {
    color: rgb(0, 126, 126);
}

/* Estilo Section Contato */

/* Título */
.contato {
    min-height: 50vh;
    text-align: center;
    align-content: center;
    padding: 60px 0;
}

.contato h2 {
    margin: 30px 0 10px;
}

/* Cards */

#contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contato a {
    margin: 20px;
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom, rgb(0, 59, 59), rgb(0, 22, 22));
    align-content: center;
    border-bottom: 3px solid rgb(0, 97, 97);
    border-radius: 20px 20px 20px 0;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);
    transition: transform 0.3s ease-out;
}

#contato a:hover {
    background: linear-gradient(to bottom, rgb(0, 59, 59), rgb(0, 59, 59));
    transform: scale(1.10);
}

#contato img {
    width: 70px;
    margin-bottom: 5px;
}

/* Estilo Section Habilidades */
/* Título */

.habilidades {
    min-height: 50vh;
    text-align: center;
    align-content: center;
    padding: 50px 0;
    transition: opacity 0.5s;
}

.habilidades h2 {
    margin-bottom: 10px;
}

.cont-hab {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-hab div {
    background: linear-gradient(to bottom, transparent, rgb(0, 59, 59));
    width: 160px;
    margin: 20px;
}

.cont-hab figure {
    height: 100px;
    align-content: center;
    padding: 10px;
}

.cont-hab p {
    background-color: rgb(0, 59, 59);
    font-size: 1.2em;
    padding: 10px 0;
}

.hab-logo {
    width: 80px;
}

/* Estilo Section Projetos */
/* Título */

.projetos {
    min-height: 50vh;
    align-content: center;
    text-align: center;
    transition: opacity 0.5s;
    padding: 30px 0;
}

.projetos h2 {
    margin-bottom: 10px;
}

.cont-projetos {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-projetos a {
    color: white;
}

.cont-projetos a:visited {
    color: white;
}

.projeto {
    border: 1px solid rgb(0, 95, 95);
    border-radius: 0 0 20px 20px;
    text-transform: uppercase;
    margin: 20px;
}

.projeto img {
    width: 200px;
}

.projeto h3 {
    padding: 10px 0;
}

/* Estilo Footer */

.rodape {
    height: 50px;
    border-top: 2px solid rgb(0, 48, 48);
    background: linear-gradient( to bottom,rgb(0, 39, 39), rgb(7, 7, 7));
    text-align: center;
    align-content: center;
    font-weight: bold;
}

@media screen and (max-width: 820px) {
    .rodape {
        font-size: 0.8em;
    }
}
